.message {
    margin-bottom: 30px;
    margin-left: auto;
    text-align: right;
}


.imageAndText {
    align-items: flex-end;
    column-gap: 15px;
    display: flex;
    flex-direction: row-reverse;

}

.imageAndText img {
    border-radius: 50%;
    height: 48px;
    margin-bottom: 5px;
    object-fit: cover;
    width: 48px;

}

.text {
    color: #fff;
    font-family: inherit;
    background: #06c;
    border-radius: 16px;
    min-height: 60px;
    padding: 7px 25px;
    position: relative;
    text-align: right;
    width: 557px;


}

.text:after {
    border-color: transparent transparent #06c;
    border-style: solid;
    border-width: 0 5px 19px 20px;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: -5px;
    width: 0;

}

.name {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

}

.name:not(:last-child) {
    margin-bottom: 5px;
}

.messageText {
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;

}

.messageText:after {
    border-color: transparent transparent #06c;
    border-style: solid;
    border-width: 0 5px 19px 20px;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: -5px;
    width: 0;
}

.time {
    color: #000;
    font-size: 14px;
    line-height: 12px;
}