.friendMessage {
    color: #000;
    margin-right: auto;
    text-align: left;

}

.friendImageAndText {
    align-items: flex-end;
    column-gap: 15px;
    display: flex;

}

.friendImageAndText img {
    border-radius: 50%;
    height: 48px;
    margin-bottom: 5px;
    object-fit: cover;
    width: 48px;

}

.friendText {
    background: #f5f7fb;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgb(29 33 38 / 3%), 0 1px 2px rgb(29 33 38 / 10%);
    min-height: 60px;
    padding: 7px 25px;
    position: relative;
    width: 250px;

}

.friendText:after {
    border-color: transparent transparent #f5f7fb;
    border-style: solid;
    border-width: 0 5px 19px 20px;
    bottom: 0;
    content: "";
    height: 0;
    left: -10px;
    position: absolute;
    transform: rotate(-1turn);
    width: 0;

}

.friendName {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;


}

.friendName:not(:last-child) {
    margin-bottom: 5px
}

.friendMessageText {
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;

}

.friendTime {
    font-size: 14px;
    line-height: 12px;
    padding-bottom: 30px;
    color: #000000;


}
